apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-frontend
  labels:
    app: todo-frontend
    phase: "5"
    deployment: "cloud-ready"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: todo-frontend
  template:
    metadata:
      labels:
        app: todo-frontend
        phase: "5"
        deployment: "cloud-ready"
    spec:
      containers:
        - name: todo-frontend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: NEXT_PUBLIC_API_BASE_URL
              value: {{ .Values.env.NEXT_PUBLIC_API_BASE_URL | quote }}
